<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" data-toggle="collapse" href="#sidebarMenu">Whatsdown</a>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div class="dropdown">
                    <button id="invitesButton" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="badge"><%= invites.length %></span><i class="far fa-envelope"></i></button>
                    <ul id="invites" class="dropdown-menu dropdown-menu-dark dropdown-menu-end position-absolute">

                        <% if(invites.length === 0){ %>
                            <li class="invite">
                                No invites yet
                            </li>
                        <% } else {%>
                            <% invites.forEach((invite) => { %>
                                <li class="invite">

                                    <%= invite %>
                                    <i class="bi bi-check-circle text-success accept"></i>
                                    <i class="bi bi-x-circle text-danger refuse"></i>

                                </li>
                        <% });} %>
                    </ul>
                </div>
            </li>
            <li class="nav-item text-nowrap">
                <div class="dropdown">
                    <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= user.username %>
                        <img class="userIcon" src="data:<%=user.image.img.contentType%>;base64,<%=user.image.img.data.toString('base64')%>" alt="dropdown image" class="img-responsive">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end position-absolute">
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>